.photo-grid__place {
  width: 32%;
  cursor: pointer;
}

@media screen and (max-width: 810px) {
  .photo-grid__place {
    width: 46%;
  }
}

@media screen and (max-width: 550px) {
  .photo-grid__place {
    width: 282px;
  }
}

