.profile__pictures-button-image {
  width: 22px;
  object-fit: cover;
  object-position: center;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .profile__pictures-button-image {
    width: 16px;
  }
}
