.profile__upload-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  background-color: black;
  display: flex;
  transition: opacity 0.5s linear;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url('../../../images/Cross.svg');
  background-position: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 950px) {
  .profile__upload-button {
    width: 282px;
    height: 50px;
    background-size: 16px 16px;
  }
}

.profile__upload-button:hover {
  opacity: 0.6;
}

