.header__logo {
  width: 142px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 120px;
    margin-left: 13px;
  }
}

@media screen and (max-width: 337px) {
  .header__logo {
    width: 103.74px;
    margin-left: 27px;
  }
}
