.photo-grid__like {
  width: 22px;
  height: 19px;
  background-color: white;
  background-image: url('../../../images/heart.svg');
  background-size: cover;
  background-position: center;
  position: relative;
  top: 1px;
  left: 0px;
  border: 0;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.photo-grid__like:hover {
  opacity: 0.5;
}
