.page__footer {
  margin: 45px auto 0;
}

@media screen and (max-width: 1041px) {
  .page__footer {
    margin-top: 41px;
  }
}

@media screen and (max-width: 785px) {
  .page__footer {
    margin-top: 37px;
  }
}

@media screen and (max-width: 550px) {
  .page__footer {
    margin-top: 32px;
  }
}

@media screen and (max-width: 442px) {
  .page__footer {
    margin-top: 28px;
  }
}



