.page__footer {
  margin: 66px auto 0;
}

@media screen and (max-width: 1041px) {
  .page__footer {
    margin-top: 61px;
  }
}

@media screen and (max-width: 785px) {
  .page__footer {
    margin-top: 56px;
  }
}

@media screen and (max-width: 550px) {
  .page__footer {
    margin-top: 52px;
  }
}

@media screen and (max-width: 442px) {
  .page__footer {
    margin-top: 48px;
  }
}
